@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kanit:wght@300&family=Montserrat:wght@600&family=Nabla&family=Oxygen:wght@700&family=Ubuntu:wght@500&display=swap');

body {
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  text-shadow: 1px 1px 2px black;
  border-bottom: 1px solid #DAA520;
  color: white;
}

.header {
  background-color: #F0E68C;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  font-size: 20pt;
  text-shadow: 1px 1px 2px black;
  color: white;
}

.userName {
  font-size: 12pt;
  text-shadow: 1px 1px 2px black;
  color: #FFFFFF;
}

.headLink {
  font-size: 10pt;
}

.content {
  width: 61%;
  margin: auto;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login {
  width: 25%;
  margin: auto;
}

input {
  border: 1px solid #DAA520;
  border-radius: 5px;
  padding: 3px;
  margin-top: 3px;
  color: #8B4513;
}

button {
  margin-top: 5px;;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: #DAA520;
  padding: 5px;
  border: 1px solid black;
}

.footer {
  background-color: #DAA520;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
}

.footerLinks > a:hover {
  color: white;
}

.errorBlock {
  border: 2px solid #ff4500;
  padding: 5px;
  font-size: 10pt;
  border-radius: 8px;
  visibility: hidden;
  margin-top: 4px;
}

.img_pivo {
  width: 100%;
}

.card {
  width: 220px;
  border-radius: 8px;
  border: 1px solid #F0E68C;
  padding: 10px;
  margin: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

}

.updateCard {
  visibility: hidden;
  height: 10px;
}

.updateCard.active {
  visibility: visible;
  height: auto;
}

.delete_btn {
  background-color: #ff4500;
  margin: 2px;
  font-size: 8pt;
}

.update_btn {
  background-color: #008000;
  margin: 2px;
  font-size: 8pt;
}